Nombre: Samuel\
Apellidos: Martín Morales\
correo: alu0101359526@ull.edu.es

### **Instalación de librerías con python 3**

### Hay que tener en cuenta que para antes de la instalación de una librería, hay que ejecutar:

**python3 -m pip install --upgrade pip**\
Para poder actualizar el comando pip3

**pip3 install pandas**

Ejemplo de importación de librerías:

In [2]:
import pandas as pd

Con esto a continuación se puede cargar los datos desde la dirección que se encuentra puesta:

In [38]:
# Con index_col 0 obviamos que la primera columna no tiene nombre. Esa columna es la numeración de las filas.
datos = pd.read_csv('https://raw.githubusercontent.com/SerDiaz/Introduccion_programacion_en_python/main/dia3/REE_hist_Tenerife.csv', sep=',', index_col=0) 

#print(datos)
datos

,cc,day,dem,die,ele,em_cc,em_die,em_ele,em_gas,em_vap,...,gas,hid,hour,minute,month,pre,pro,vap,week,year
0,260.2,31,546.4,38.0,0.0,26.02,4.116667,0.0,8.0784,29.430,...,43.2,0.0,20,0,12,551.0,539.6,196.2,1,2012
1,259.2,31,544.8,38.0,0.0,25.92,4.116667,0.0,7.8166,29.325,...,41.8,0.0,20,10,12,545.1,539.6,195.5,1,2012
2,256.2,31,540.3,38.0,0.0,25.62,4.116667,0.0,7.6109,29.265,...,40.7,0.0,20,20,12,540.7,539.6,195.1,1,2012
3,253.4,31,535.1,38.0,0.0,25.34,4.116667,0.0,7.5548,29.205,...,40.4,0.0,20,30,12,537.8,539.6,194.7,1,2012
4,248.6,31,531.2,38.0,0.0,24.86,4.116667,0.0,7.2930,29.100,...,39.0,0.0,20,40,12,536.2,539.6,194.0,1,2012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
343,154.0,18,338.9,37.8,0.0,15.40,4.095000,0.0,1.6082,17.925,...,8.6,0.0,23,0,10,343.4,330.3,119.5,42,2020
344,160.9,18,329.2,37.9,0.0,16.09,4.105833,0.0,0.2805,16.290,...,1.5,0.0,23,10,10,335.3,330.3,108.6,42,2020
345,156.8,18,325.5,38.2,0.0,15.68,4.138333,0.0,0.0000,16.695,...,0.0,0.0,23,20,10,328.1,330.3,111.3,42,2020
346,156.5,18,319.9,37.8,0.0,15.65,4.095000,0.0,0.0000,16.725,...,0.0,0.0,23,30,10,321.7,330.3,111.5,42,2020
347,0.0,18,313.0,0.0,0.0,0.00,0.000000,0.0,0.0000,0.000,...,0.0,0.0,23,40,10,316.2,330.3,0.0,42,2020

In [4]:
# Mostrar solo las 5 primeras filas para comprobar rápidamente los datos
datos.iloc[10:20]

,cc,day,dem,die,ele,em_cc,em_die,em_ele,em_gas,em_vap,...,gas,hid,hour,minute,month,pre,pro,vap,week,year
10,201.9,31,468.0,38.0,0.0,20.19,4.116667,0.0,7.1621,27.330,...,38.3,0.0,21,40,12,511.9,518.8,182.2,1,2012
11,188.3,31,457.7,38.0,0.0,18.83,4.116667,0.0,7.1060,28.215,...,38.0,0.0,21,50,12,494.9,518.8,188.1,1,2012
12,188.1,31,447.5,38.0,0.0,18.81,4.116667,0.0,6.1710,27.585,...,33.0,0.0,22,0,12,473.6,424.2,183.9,1,2012
13,184.9,31,436.3,38.0,0.0,18.49,4.116667,0.0,4.8246,27.405,...,25.8,0.0,22,10,12,451.9,424.2,182.7,1,2012
14,185.7,31,423.0,38.0,0.0,18.57,4.116667,0.0,2.1505,27.315,...,11.5,0.0,22,20,12,433.7,424.2,182.1,1,2012
15,182.6,31,416.7,38.0,0.0,18.26,4.116667,0.0,2.3936,27.000,...,12.8,0.0,22,30,12,419.0,424.2,180.0,1,2012
16,182.0,31,409.5,38.0,0.0,18.20,4.116667,0.0,1.6082,26.595,...,8.6,0.0,22,40,12,407.8,424.2,177.3,1,2012
17,176.9,31,402.5,38.0,0.0,17.69,4.116667,0.0,1.6269,26.115,...,8.7,0.0,22,50,12,400.0,424.2,174.1,1,2012
18,173.8,31,396.8,38.0,0.0,17.38,4.116667,0.0,1.6269,25.905,...,8.7,0.0,23,0,12,395.7,386.7,172.7,1,2012
19,175.6,31,391.5,38.0,0.0,17.56,4.116667,0.0,0.0374,26.010,...,0.2,0.0,23,10,12,393.1,386.7,173.4,1,2012

In [5]:
# Mostrar sólo la columna de demanda de la tabla anterior
datos['dem'].head()

0    546.4
1    544.8
2    540.3
3    535.1
4    531.2
Name: dem, dtype: float64

Ejercicio 1: mostrar los cinco valores de la columna cc

In [6]:
# Mostrar los datos de la columna cc
datos['cc'].head()

0    260.2
1    259.2
2    256.2
3    253.4
4    248.6
Name: cc, dtype: float64

Para visualizar las columnas o variables del dataframe o de la tabla, se realiza de la manera:

In [7]:
# Ver los datos de las columnas del dataframe
datos.columns.values

array(['cc', 'day', 'dem', 'die', 'ele', 'em_cc', 'em_die', 'em_ele',
       'em_gas', 'em_vap', 'eol', 'fecha', 'fot', 'gas', 'hid', 'hour',
       'minute', 'month', 'pre', 'pro', 'vap', 'week', 'year'],
      dtype=object)

In [8]:
# Ver los índices del dataframe
datos.index.values

array([  0,   1,   2, ..., 345, 346, 347])

Selección de filas por condición establecida según una columna:

In [9]:
# Selección de filas por condición de cierta columna y valor
datos[(datos['year'] == 2016)]

,cc,day,dem,die,ele,em_cc,em_die,em_ele,em_gas,em_vap,...,gas,hid,hour,minute,month,pre,pro,vap,week,year
66034,153.6,1,339.2,36.3,0.0,15.36,3.932500,0.0,0.0,22.350,...,0.0,0.0,0,0,1,350.9,338.8,149.0,53,2016
66035,151.5,1,337.6,36.5,0.0,15.15,3.954167,0.0,0.0,22.260,...,0.0,0.0,0,10,1,346.5,338.8,148.4,53,2016
66036,151.0,1,336.8,38.1,0.0,15.10,4.127500,0.0,0.0,22.260,...,0.0,0.0,0,20,1,342.3,338.8,148.4,53,2016
66037,151.0,1,336.4,37.3,0.0,15.10,4.040833,0.0,0.0,22.170,...,0.0,0.0,0,30,1,338.4,338.8,147.8,53,2016
66038,151.2,1,334.1,37.3,0.0,15.12,4.040833,0.0,0.0,21.900,...,0.0,0.0,0,40,1,334.8,338.8,146.0,53,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66218,173.9,31,374.0,36.1,0.0,17.39,3.910833,0.0,0.0,24.600,...,0.0,0.0,23,10,12,368.6,359.7,164.0,52,2016
66219,171.6,31,371.1,36.6,0.0,17.16,3.965000,0.0,0.0,24.435,...,0.0,0.0,23,20,12,363.8,359.7,162.9,52,2016
66220,170.0,31,367.4,36.6,0.0,17.00,3.965000,0.0,0.0,24.135,...,0.0,0.0,23,30,12,359.3,359.7,160.9,52,2016
66221,167.4,31,361.9,36.4,0.0,16.74,3.943333,0.0,0.0,23.835,...,0.0,0.0,23,40,12,355.1,359.7,158.9,52,2016
66222,162.0,31,356.3,36.8,0.0,16.20,3.986667,0.0,0.0,23.625,...,0.0,0.0,23,50,12,351.1,359.7,157.5,52,2016

In [10]:
# Teniendo en cuenta la columna de 'day'
datos[(datos['day'] == 1)]

,cc,day,dem,die,ele,em_cc,em_die,em_ele,em_gas,em_vap,...,gas,hid,hour,minute,month,pre,pro,vap,week,year
24,170.0,1,365.3,38.0,0.0,17.00,4.116667,0.0,0.0,23.130,...,0.0,0.0,0,0,1,376.2,364.7,154.2,1,2013
25,168.1,1,363.1,38.0,0.0,16.81,4.116667,0.0,0.0,23.265,...,0.0,0.0,0,10,1,372.4,364.7,155.1,1,2013
26,167.4,1,362.9,38.0,0.0,16.74,4.116667,0.0,0.0,23.325,...,0.0,0.0,0,20,1,368.5,364.7,155.5,1,2013
27,167.3,1,360.2,38.0,0.0,16.73,4.116667,0.0,0.0,22.965,...,0.0,0.0,0,30,1,364.7,364.7,153.1,1,2013
28,167.4,1,358.6,38.0,0.0,16.74,4.116667,0.0,0.0,22.500,...,0.0,0.0,0,40,1,360.9,364.7,150.0,1,2013
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
344,206.0,1,358.0,19.3,0.0,20.60,2.090833,0.0,0.0,7.485,...,0.0,0.0,23,10,10,349.1,336.6,49.9,40,2020
345,198.5,1,353.2,18.7,0.0,19.85,2.025833,0.0,0.0,7.395,...,0.0,0.0,23,20,10,342.9,336.6,49.3,40,2020
346,183.1,1,343.5,19.0,0.0,18.31,2.058333,0.0,0.0,6.975,...,0.0,0.0,23,30,10,336.6,336.6,46.5,40,2020
347,181.2,1,334.4,19.3,0.0,18.12,2.090833,0.0,0.0,6.930,...,0.0,0.0,23,40,10,330.3,336.6,46.2,40,2020
348,173.0,1,325.5,19.3,0.0,17.30,2.090833,0.0,0.0,7.320,...,0.0,0.0,23,50,10,324.0,336.6,48.8,40,2020

Ejercicio 2: Mostrar las filas donde el día sea mayor a 10

In [12]:
datos[(datos['day'] >= 10)]

,cc,day,dem,die,ele,em_cc,em_die,em_ele,em_gas,em_vap,...,gas,hid,hour,minute,month,pre,pro,vap,week,year
0,260.2,31,546.4,38.0,0.0,26.02,4.116667,0.0,8.0784,29.430,...,43.2,0.0,20,0,12,551.0,539.6,196.2,1,2012
1,259.2,31,544.8,38.0,0.0,25.92,4.116667,0.0,7.8166,29.325,...,41.8,0.0,20,10,12,545.1,539.6,195.5,1,2012
2,256.2,31,540.3,38.0,0.0,25.62,4.116667,0.0,7.6109,29.265,...,40.7,0.0,20,20,12,540.7,539.6,195.1,1,2012
3,253.4,31,535.1,38.0,0.0,25.34,4.116667,0.0,7.5548,29.205,...,40.4,0.0,20,30,12,537.8,539.6,194.7,1,2012
4,248.6,31,531.2,38.0,0.0,24.86,4.116667,0.0,7.2930,29.100,...,39.0,0.0,20,40,12,536.2,539.6,194.0,1,2012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
343,154.0,18,338.9,37.8,0.0,15.40,4.095000,0.0,1.6082,17.925,...,8.6,0.0,23,0,10,343.4,330.3,119.5,42,2020
344,160.9,18,329.2,37.9,0.0,16.09,4.105833,0.0,0.2805,16.290,...,1.5,0.0,23,10,10,335.3,330.3,108.6,42,2020
345,156.8,18,325.5,38.2,0.0,15.68,4.138333,0.0,0.0000,16.695,...,0.0,0.0,23,20,10,328.1,330.3,111.3,42,2020
346,156.5,18,319.9,37.8,0.0,15.65,4.095000,0.0,0.0000,16.725,...,0.0,0.0,23,30,10,321.7,330.3,111.5,42,2020
347,0.0,18,313.0,0.0,0.0,0.00,0.000000,0.0,0.0000,0.000,...,0.0,0.0,23,40,10,316.2,330.3,0.0,42,2020

Para el filtrado se puede hacer uso de varios filtros:

In [13]:
datos[(datos['day'] == 1) & (datos['minute'] == 30)]    # Hay que tener en cuenta que esto también se puede guardar en una variable para hacer uso de esta

,cc,day,dem,die,ele,em_cc,em_die,em_ele,em_gas,em_vap,...,gas,hid,hour,minute,month,pre,pro,vap,week,year
27,167.3,1,360.2,38.0,0.0,16.73,4.116667,0.0,0.0000,22.965,...,0.0,0.0,0,30,1,364.7,364.7,153.1,1,2013
33,156.6,1,338.0,38.0,0.0,15.66,4.116667,0.0,0.0000,20.460,...,0.0,0.0,1,30,1,341.7,341.6,136.4,1,2013
39,143.6,1,316.6,38.0,0.0,14.36,4.116667,0.0,0.0000,17.925,...,0.0,0.0,2,30,1,316.6,316.9,119.5,1,2013
45,130.7,1,296.0,38.0,0.0,13.07,4.116667,0.0,0.0000,16.605,...,0.0,0.0,3,30,1,296.6,296.9,110.7,1,2013
51,127.9,1,290.6,38.0,0.0,12.79,4.116667,0.0,0.0000,16.350,...,0.0,0.0,4,30,1,284.3,284.7,109.0,1,2013
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
322,222.6,1,423.2,15.1,0.0,22.26,1.635833,0.0,1.7578,5.580,...,9.4,0.0,19,30,10,418.0,422.1,37.2,40,2020
328,265.4,1,475.8,15.2,0.0,26.54,1.646667,0.0,3.9270,7.695,...,21.0,0.0,20,30,10,478.2,472.6,51.3,40,2020
334,240.2,1,451.4,19.2,0.0,24.02,2.080000,0.0,2.3001,6.690,...,12.3,0.0,21,30,10,446.0,444.7,44.6,40,2020
340,222.9,1,387.3,19.3,0.0,22.29,2.090833,0.0,0.0000,5.685,...,0.0,0.0,22,30,10,378.8,380.4,37.9,40,2020
346,183.1,1,343.5,19.0,0.0,18.31,2.058333,0.0,0.0000,6.975,...,0.0,0.0,23,30,10,336.6,336.6,46.5,40,2020

Ejercicio 3: filtrar los datos por el 20 de septiembre de 2015

In [14]:
datos[(datos['month'] == 9) & (datos['day'] == 20) & (datos['year'] == 2015)]

,cc,day,dem,die,ele,em_cc,em_die,em_ele,em_gas,em_vap,...,gas,hid,hour,minute,month,pre,pro,vap,week,year
47400,162.5,20,341.2,36.9,0.0,16.25,3.997500,0.0,0.0,21.090,...,0.0,0.0,0,0,9,343.9,325.4,140.6,38,2015
47401,162.6,20,332.3,36.5,0.0,16.26,3.954167,0.0,0.0,19.695,...,0.0,0.0,0,10,9,336.9,325.4,131.3,38,2015
47402,163.4,20,327.8,36.9,0.0,16.34,3.997500,0.0,0.0,18.795,...,0.0,0.0,0,20,9,330.5,325.4,125.3,38,2015
47403,162.2,20,324.1,37.3,0.0,16.22,4.040833,0.0,0.0,18.375,...,0.0,0.0,0,30,9,324.6,325.4,122.5,38,2015
47404,164.9,20,318.6,37.0,0.0,16.49,4.008333,0.0,0.0,17.385,...,0.0,0.0,0,40,9,319.2,325.4,115.9,38,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47576,164.9,20,368.9,38.4,0.0,16.49,4.160000,0.0,0.0,24.480,...,0.0,0.0,23,10,9,359.7,348.5,163.2,38,2015
47577,163.7,20,362.0,39.1,0.0,16.37,4.235833,0.0,0.0,23.505,...,0.0,0.0,23,20,9,352.3,348.5,156.7,38,2015
47578,162.3,20,354.9,37.8,0.0,16.23,4.095000,0.0,0.0,22.470,...,0.0,0.0,23,30,9,346.3,348.5,149.8,38,2015
47579,162.8,20,348.3,38.1,0.0,16.28,4.127500,0.0,0.0,21.765,...,0.0,0.0,23,40,9,341.8,348.5,145.1,38,2015
47580,163.9,20,341.9,38.0,0.0,16.39,4.116667,0.0,0.0,20.865,...,0.0,0.0,23,50,9,338.8,348.5,139.1,38,2015

Existen dos filtros concretos, para filtrar valores. Estos son:
- iloc : función que se usa para filtrar filas y columnas concretas, según el índice de estas.
- loc : función que se usa para filtrar filas y columnas según la etiqueta de estas.

In [15]:
datos.iloc[0]

cc                      260.2
day                        31
dem                     546.4
die                        38
ele                         0
em_cc                   26.02
em_die                4.11667
em_ele                      0
em_gas                 8.0784
em_vap                  29.43
eol                       9.6
fecha     2012-12-31 20:00:00
fot                         0
gas                      43.2
hid                         0
hour                       20
minute                      0
month                      12
pre                       551
pro                     539.6
vap                     196.2
week                        1
year                     2012
Name: 0, dtype: object

In [16]:
# Para imprimir todas las filas, se realiza de la manera
datos.iloc[:]

,cc,day,dem,die,ele,em_cc,em_die,em_ele,em_gas,em_vap,...,gas,hid,hour,minute,month,pre,pro,vap,week,year
0,260.2,31,546.4,38.0,0.0,26.02,4.116667,0.0,8.0784,29.430,...,43.2,0.0,20,0,12,551.0,539.6,196.2,1,2012
1,259.2,31,544.8,38.0,0.0,25.92,4.116667,0.0,7.8166,29.325,...,41.8,0.0,20,10,12,545.1,539.6,195.5,1,2012
2,256.2,31,540.3,38.0,0.0,25.62,4.116667,0.0,7.6109,29.265,...,40.7,0.0,20,20,12,540.7,539.6,195.1,1,2012
3,253.4,31,535.1,38.0,0.0,25.34,4.116667,0.0,7.5548,29.205,...,40.4,0.0,20,30,12,537.8,539.6,194.7,1,2012
4,248.6,31,531.2,38.0,0.0,24.86,4.116667,0.0,7.2930,29.100,...,39.0,0.0,20,40,12,536.2,539.6,194.0,1,2012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
343,154.0,18,338.9,37.8,0.0,15.40,4.095000,0.0,1.6082,17.925,...,8.6,0.0,23,0,10,343.4,330.3,119.5,42,2020
344,160.9,18,329.2,37.9,0.0,16.09,4.105833,0.0,0.2805,16.290,...,1.5,0.0,23,10,10,335.3,330.3,108.6,42,2020
345,156.8,18,325.5,38.2,0.0,15.68,4.138333,0.0,0.0000,16.695,...,0.0,0.0,23,20,10,328.1,330.3,111.3,42,2020
346,156.5,18,319.9,37.8,0.0,15.65,4.095000,0.0,0.0000,16.725,...,0.0,0.0,23,30,10,321.7,330.3,111.5,42,2020
347,0.0,18,313.0,0.0,0.0,0.00,0.000000,0.0,0.0000,0.000,...,0.0,0.0,23,40,10,316.2,330.3,0.0,42,2020

In [18]:
# Para imprimir distintas columnas en concreto
datos.iloc[:,[0,2,11]]  # Hay que tener en cuenta que a la izquierda de la coma, se filtran las filas y a la derecha de la coma, se filtran las columnas

        cc    dem                fecha
0    260.2  546.4  2012-12-31 20:00:00
1    259.2  544.8  2012-12-31 20:10:00
2    256.2  540.3  2012-12-31 20:20:00
3    253.4  535.1  2012-12-31 20:30:00
4    248.6  531.2  2012-12-31 20:40:00
..     ...    ...                  ...
343  154.0  338.9  2020-10-18 23:00:00
344  160.9  329.2  2020-10-18 23:10:00
345  156.8  325.5  2020-10-18 23:20:00
346  156.5  319.9  2020-10-18 23:30:00
347    0.0  313.0  2020-10-18 23:40:00

[409994 rows x 3 columns]

In [19]:
# Para imprimir distintas filas concretas
datos.iloc[[0,3,45],:]

,cc,day,dem,die,ele,em_cc,em_die,em_ele,em_gas,em_vap,...,gas,hid,hour,minute,month,pre,pro,vap,week,year
0,260.2,31,546.4,38.0,0.0,26.02,4.116667,0.0,8.0784,29.430,...,43.2,0.0,20,0,12,551.0,539.6,196.2,1,2012
3,253.4,31,535.1,38.0,0.0,25.34,4.116667,0.0,7.5548,29.205,...,40.4,0.0,20,30,12,537.8,539.6,194.7,1,2012
45,130.7,1,296.0,38.0,0.0,13.07,4.116667,0.0,0.0000,16.605,...,0.0,0.0,3,30,1,296.6,296.9,110.7,1,2013

Ejercicio 4: seleccionar filas 1,3,5 y sólo la columna 3

In [22]:
datos.iloc[[1,3,5],3]

1    38.0
3    38.0
5    38.0
Name: die, dtype: float64

**Filtrado haciendo uso de loc**

In [23]:
datos.loc[0]

,cc,day,dem,die,ele,em_cc,em_die,em_ele,em_gas,em_vap,...,gas,hid,hour,minute,month,pre,pro,vap,week,year
0,260.2,31,546.4,38.0,0.0,26.02,4.116667,0.0,8.0784,29.430,...,43.2,0.0,20,0,12,551.0,539.6,196.2,1,2012
0,300.2,30,521.4,17.9,0.0,30.02,1.939167,0.0,10.1167,18.060,...,54.1,0.0,20,0,9,523.6,544.3,120.4,40,2019
0,297.9,28,544.0,35.9,0.0,29.79,3.889167,0.0,13.4453,20.490,...,71.9,0.0,20,0,10,555.0,548.0,136.6,44,2019
0,224.5,16,445.6,22.6,0.0,22.45,2.448333,0.0,4.0766,20.985,...,21.8,0.0,20,0,10,443.9,453.4,139.9,42,2020

In [24]:
datos.loc[:,'dem']

0      546.4
1      544.8
2      540.3
3      535.1
4      531.2
       ...
343    338.9
344    329.2
345    325.5
346    319.9
347    313.0
Name: dem, Length: 409994, dtype: float64

In [25]:
datos.loc[:,['dem','cc','fecha']]

       dem     cc                fecha
0    546.4  260.2  2012-12-31 20:00:00
1    544.8  259.2  2012-12-31 20:10:00
2    540.3  256.2  2012-12-31 20:20:00
3    535.1  253.4  2012-12-31 20:30:00
4    531.2  248.6  2012-12-31 20:40:00
..     ...    ...                  ...
343  338.9  154.0  2020-10-18 23:00:00
344  329.2  160.9  2020-10-18 23:10:00
345  325.5  156.8  2020-10-18 23:20:00
346  319.9  156.5  2020-10-18 23:30:00
347  313.0    0.0  2020-10-18 23:40:00

[409994 rows x 3 columns]

In [39]:
# De esta manera se reinician los valores de los índices de las filas, y se ponen de manera correcta 
datos = datos.reset_index()

datos

,index,cc,day,dem,die,ele,em_cc,em_die,em_ele,em_gas,...,gas,hid,hour,minute,month,pre,pro,vap,week,year
0,0,260.2,31,546.4,38.0,0.0,26.02,4.116667,0.0,8.0784,...,43.2,0.0,20,0,12,551.0,539.6,196.2,1,2012
1,1,259.2,31,544.8,38.0,0.0,25.92,4.116667,0.0,7.8166,...,41.8,0.0,20,10,12,545.1,539.6,195.5,1,2012
2,2,256.2,31,540.3,38.0,0.0,25.62,4.116667,0.0,7.6109,...,40.7,0.0,20,20,12,540.7,539.6,195.1,1,2012
3,3,253.4,31,535.1,38.0,0.0,25.34,4.116667,0.0,7.5548,...,40.4,0.0,20,30,12,537.8,539.6,194.7,1,2012
4,4,248.6,31,531.2,38.0,0.0,24.86,4.116667,0.0,7.2930,...,39.0,0.0,20,40,12,536.2,539.6,194.0,1,2012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
409989,343,154.0,18,338.9,37.8,0.0,15.40,4.095000,0.0,1.6082,...,8.6,0.0,23,0,10,343.4,330.3,119.5,42,2020
409990,344,160.9,18,329.2,37.9,0.0,16.09,4.105833,0.0,0.2805,...,1.5,0.0,23,10,10,335.3,330.3,108.6,42,2020
409991,345,156.8,18,325.5,38.2,0.0,15.68,4.138333,0.0,0.0000,...,0.0,0.0,23,20,10,328.1,330.3,111.3,42,2020
409992,346,156.5,18,319.9,37.8,0.0,15.65,4.095000,0.0,0.0000,...,0.0,0.0,23,30,10,321.7,330.3,111.5,42,2020
409993,347,0.0,18,313.0,0.0,0.0,0.00,0.000000,0.0,0.0000,...,0.0,0.0,23,40,10,316.2,330.3,0.0,42,2020

In [32]:
# De esta manera se borran las columnas según su clave
del datos['index']
del datos['level_0']

datos

,level_0,cc,day,dem,die,ele,em_cc,em_die,em_ele,em_gas,...,gas,hid,hour,minute,month,pre,pro,vap,week,year
0,0,260.2,31,546.4,38.0,0.0,26.02,4.116667,0.0,8.0784,...,43.2,0.0,20,0,12,551.0,539.6,196.2,1,2012
1,1,259.2,31,544.8,38.0,0.0,25.92,4.116667,0.0,7.8166,...,41.8,0.0,20,10,12,545.1,539.6,195.5,1,2012
2,2,256.2,31,540.3,38.0,0.0,25.62,4.116667,0.0,7.6109,...,40.7,0.0,20,20,12,540.7,539.6,195.1,1,2012
3,3,253.4,31,535.1,38.0,0.0,25.34,4.116667,0.0,7.5548,...,40.4,0.0,20,30,12,537.8,539.6,194.7,1,2012
4,4,248.6,31,531.2,38.0,0.0,24.86,4.116667,0.0,7.2930,...,39.0,0.0,20,40,12,536.2,539.6,194.0,1,2012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
409989,409989,154.0,18,338.9,37.8,0.0,15.40,4.095000,0.0,1.6082,...,8.6,0.0,23,0,10,343.4,330.3,119.5,42,2020
409990,409990,160.9,18,329.2,37.9,0.0,16.09,4.105833,0.0,0.2805,...,1.5,0.0,23,10,10,335.3,330.3,108.6,42,2020
409991,409991,156.8,18,325.5,38.2,0.0,15.68,4.138333,0.0,0.0000,...,0.0,0.0,23,20,10,328.1,330.3,111.3,42,2020
409992,409992,156.5,18,319.9,37.8,0.0,15.65,4.095000,0.0,0.0000,...,0.0,0.0,23,30,10,321.7,330.3,111.5,42,2020
409993,409993,0.0,18,313.0,0.0,0.0,0.00,0.000000,0.0,0.0000,...,0.0,0.0,23,40,10,316.2,330.3,0.0,42,2020

Ejercicio 5: crear una copia, borrar la columna hid e imprimir haciendo uso de loc\
filas de 10 a 20 y columnas demanda,demanda programada y demanda prevista.

In [40]:
datos_copy = datos

del datos_copy['hid']

datos_copy.loc[10:20,['dem','die','ele']]

      dem   die  ele
10  468.0  38.0  0.0
11  457.7  38.0  0.0
12  447.5  38.0  0.0
13  436.3  38.0  0.0
14  423.0  38.0  0.0
15  416.7  38.0  0.0
16  409.5  38.0  0.0
17  402.5  38.0  0.0
18  396.8  38.0  0.0
19  391.5  38.0  0.0
20  388.9  38.0  0.0

**Función para obtener la media de una columna concreta:**

In [42]:
datos_copy = datos.copy()   # De esta manera se realiza una copia del dataframe en dicha variable

datos_copy['dem'].mean()

-6.963516539266428e+23

In [43]:
datos_copy.loc[10:20,['dem','pre','pro']].mean()

dem    421.672727
pre    433.800000
pro    431.172727
dtype: float64

**Función para obtener la mediana de una columna:**

In [48]:
datos_copy['dem'].median()

409.6

**Función para obtener la moda de una columna:**

In [49]:
datos_copy['dem'].mode()

0    464.1
dtype: float64

**Función para obtener el máximo o mínimo:**

In [46]:
datos_copy['dem'].max()

574.9

In [47]:
datos_copy['dem'].min()

-1e+29

Ejercicio 6: media y mediana de cc entre los dias 20 y 30 del mes de enero del año 2018 y el máximo

In [53]:
dia = datos_copy[(datos_copy['day'] >= 20) & (datos_copy['day'] <= 30) & (datos_copy['month'] == 1) & (datos_copy['year'] == 2018)]
col_cc = dia['cc']

# Media
print(f'Media: {col_cc.mean()}')
# Mediana
print(f'Mediana: {col_cc.median()}')
# Máximo
print(f'Máximo: {col_cc.max()}')

Media: 151.55580808080808
Mediana: 148.2
Máximo: 200.0

**Métodos de agrupación:**

In [55]:
# Agrupación
media_por_mes = datos_copy.groupby('month').mean()

media_por_mes.loc[:,['eol']]

                eol
month
1      1.747562e+01
2     -7.688050e+23
3      2.237326e+01
4      1.202281e+01
5      1.714305e+01
6      1.967273e+01
7      3.157941e+01
8      3.422525e+01
9      2.084964e+01
10     1.548804e+01
11     1.833954e+01
12     1.736815e+01

**Esto a continuación sirve para poder establecer una condición en la que se debe generar que dicha celda debe de cumplir la condición especificada,\
con ello se puede modificar aquellas celdas que estén mal.**

In [56]:
condicion = datos_copy.eol < 0       # queremos coger todos los datos de generación 
                                # menores a 0
columna = "eol" 
valor_nuevo = 0 # Valor por el que vamos a sustituir

datos_copy.loc[condicion, columna] = valor_nuevo

Se puede realizar el groupby juntando distintas condiciones:

In [57]:
# Agrupamos
media_año_mes = datos.groupby(['month','year']).mean()

# Sólo datos eólicos
media_eol = media_año_mes.loc[:,['eol']]

media_eol.head()

                  eol
month year
1     2013   8.353405
      2014   7.658961
      2015  12.939807
      2016   5.930421
      2017   4.419825